@media (max-width: 1248px) {
  .container {
    max-width: 790px;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .container {
    &_footer {
      flex-direction: column;
    }
  }
}

.container {
  &_footer {
    display: flex;
    justify-content: space-between;
  }
}
