$grayDark: #888888;
$grayLinkHover: #D9D9D9;
$grayLight: #F7F6F6;
$black: #000;
$white: #FFF;
$selectColor: #C4C4C4;
$borderCartColor: #CACDD8;
$bgButtonNonActive: rgba(222, 215, 215, 0.41);
$footerBack: rgba(247, 246, 246, 1);
$footerColorPlaceholder: rgba(196, 196, 196, 1);
$shadowColor: rgba(0, 0, 0, 0.32);
$fontSizeH1: 64px;
$fontSizeH2: 48px;
$fontSizeForTitle: 34px;
$fontSizeForTitleSmall: 28px;
$fontSizeH3: 26px;
$fontSizeCardTitle: 24px;
$fontSizeT1: 18px;
$fontSizeT2: 16px;
$fontSizeT3: 14px;
$fontSizeT4: 12px;
$cardW: 379px;
$marginBotBlocks: 64px;

/*colors for filter*/
$brown: #737373;
$red: #FF0000;
$orange: #FF7A41;
$yellow: #F2CB01;
$green: #00BF2A;
$grass: #1CCC97;
$blue: #009FE3;
$blueDark: #000AF8;
$lile: #6710D6;
$violet: #9D0DB5;
$lilac: #D89AFF;
$pink: #FF65A6;
